* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    --font-variation-settings: normal;
    --font-feature-settings: "cv02","cv03","cv04","cv11";
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
